{% extends "finance/base_finance.html" %}
{% load extras %}
{% load cache %}
{% block title %}
{{ block.super }} All Industries
{% endblock %}
{% block content %}
<div class="container">
<ul class="chartlist">
{% cache 12000 all_industries %}
{% for industry in objects %}
<li>
    <a href="{% url industry_detail industry.id %}">{{ industry.name }}</a>
    <span class="count">${{industry.total_donations}}</span> 
    {% splitbar industry.total_donations_by_party industry.total_donations %}
<li>
{% endfor %}
{% endcache %}
</ul>
</div>
{% endblock %}
